<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-zinc-900 h-screen w-full">
      <h2 class="text-center text-white text-4xl mb-10 font-bold">Login User</h2>
      <form class="text-zinc-400" action="/login" method="post">
        <input
          class="bg-transparent border border-zinc-600 p-3 rounded-lg mb-3"
          type="email"
          name="email"
          placeholder="Enter email"
        />
        <input
          class="bg-transparent border border-zinc-600 p-3 rounded-lg mb-3"
          type="password"
          name="password"
          placeholder="Enter password"
        />

        <input class="bg-blue-500 p-3 rounded-lg mb-3 text-white" type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
